body {
  /* background-color: #f9f9f9; */
}

.my-col {
  /* border: 1px dashed blue; */
  text-align: center;
}

.x-button {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#title {
  padding-left: 10%;
  text-align: left;
  background-color: #f9f9f9;
}

.blacklist-container {
  margin-top: 50px;
}



.container {
  width: 80%;
  /* border: 2px solid blue; */
}

.container-title{
  width: 100%;
  height: 30%;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

form {
  margin-top: 20px;
}
#submit-button {
}


#input-redirect-website {
  width: calc(100% - 100px);
}

#input-block-website {
  width: calc(100% - 100px);

}
